.container{
    display:flex;
    height:100vh;
}

.sidePanel{
    flex:0.20;
    display:flex;
    background-color:slategrey;


}
.messagePanel{
    flex:0.80;
    display:flex;
    background-color: darkslategrey;
    flex-direction:column;
    justify-content: space-between;
    padding: 1rem;



}


.chatBox{

    display:flex;
    flex-direction: column;
    flex:1;
    overflow-y:auto;
    padding-bottom: 1rem;

}
.inputBox {
    display:flex;
    justify-content: center;
    padding-bottom: 1rem ;


}

.inputBox textarea {

    background-color:black ;
    width:800px;
    height:35px;
    border-radius:24px;
    font-size: 1rem;
    font-family: "Comic Sans MS", serif;
    color: white;

}

.inputBox button{

    background-color: darkblue;
    border-radius: 999px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.question{
    font-family: "Comic Sans MS", serif;
    color:black;
    font-weight: bold;
    background-color:lightcyan;
    border-radius:20px;
    display:inline-block;
    padding:1px;

}

.inputBox button:hover{

    background-color:#001f5c;
}

.inputBox.inputRow{
    display:flex;
    align-items:center;
    gap: 8px;

}

.audioModal{
    display:none;
    background-color: darkblue;
    color:white;
    border-radius:12px;
    border:3px solid black;
    padding:10px;
    min-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;

}


.close{

    background: none;
    border:none;
    font-size:1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0;
}
