<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet"  th:href="@{/newChat.css}">
</head>
<body>
<div class="container">

    <div class="sidePanel">

    </div>

    <div class="messagePanel">


        <div class="chatBox">

            <div class="messageContainer">

                <div th:if="${greeting}">

                    <div class="question" th:utext="${greeting}">   </div>
                </div>

                <div th:each="message : ${listOfChatMessages}" >

                    <div class="question" th:text="${message.getQuestion()}">  </div>

                    <div class="answer" th:utext="${message.getAnswer()}">   </div>

                </div>

            </div>
        </div>


        <form class="inputBox" action="/ask" method="post">

            <textarea  name="question" rows="1" oninput="autoGrow(this)"> </textarea>

            <button type="submit" name="action"   value="submit">🚀</button>
            <button type="submit" name="action"   value="summarize">🧾</button>
            <button type="submit" name="action"   value="explain">🔍</button>

        </form>


    </div>



</div>
<script th:src="@{/newChat.js}"></script>
</body>
</html>