<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet"  th:href="@{/newChat.css}">
</head>
<body>
<div class="container">

    <div class="sidePanel">

    </div>

    <div class="messagePanel">


        <div class="chatBox">

            <div class="messageContainer">

                <div th:if="${greeting}">

                    <div class="question" th:utext="${greeting}">   </div>
                </div>

                <div th:each="message : ${listOfChatMessages}" >

                    <div class="question" th:text="${message.getQuestion()}">  </div>

                    <div class="answer" th:utext="${message.getAnswer()}">   </div>

                </div>

            </div>
        </div>


        <form class="inputBox" action="/ask" method="post">

            <div class="inputRow">
                <button type="button" onclick="openModal()">🎙️</button>

            <textarea  name="question" rows="1" oninput="autoGrow(this)"> </textarea>

            <button type="submit" name="action"   value="submit">🚀</button>
            <button type="submit" name="action"   value="summarize">🧾</button>
            <button type="submit" name="action"   value="explain">💡</button>
                </div>
        </form>

         <div  class="audioModal"  id="audioModal">

             <button id="close" class="close" onclick="closeModal()">❎</button>

        <form action="/transcribe" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="audio/*" required>
            <button type="submit">Transcribe 📝</button>
        </form>

         </div>


    </div>



</div>


<script th:src="@{/newChat.js}" defer></script>


<script>
    function openModal(){

        document.getElementById("audioModal").style.display="block";

    }
    function closeModal(){

        document.getElementById("audioModal").style.display="none";
    }
</script>


</body>
</html>
